@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{margin: 0px; padding: 0px;}

body{font-family: "open sans", sans-serif !important;
    background: #e6e6e6;}

.btn-blue{
    margin: 0px !important;
    background: #5372ff !important;
    font-size: 15px !important;
    font-weight: 500;
    color: #fff !important;
    border-radius: 8px !important;
}

.link{
    color: #292929;
    font-weight: 600;
}
.link:hover{
    color: #106cff !important;
    text-decoration: none !important;
}
.link.color{
    color: #106cff !important;
    text-decoration: none !important;
}
.btn-lg{
    padding: 5px 20px !important;
}
.btn-big{
    padding: 10px 25px !important;
    font-size: 16px !important;
}
.btn-round{
    border-radius: 30px !important;
}
.full{
    max-width: 100% !important;
    flex: 0 0 100% !important;
    width: 100% !important;
    background-color: #fff;
    /* margin-left: 40%; */
    padding-left: 32% !important;
}
.loginSection .loginBox{
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 5px;
}
.loginSection .loginBox .wrapper .link{
    font-size: 14px;
}
.loginSection .loginBox .wrapper{
    width: 100%;
    height: auto;
    background: #f0f0f0;
    position: relative;
    z-index: 100;
    padding: 35px 45px;
}
.loginSection .loginBox .wrapper .form-control{
    
    background: #fff !important;
    box-shadow: none !important;
    outline: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    height: 45px !important;
    padding-left: 35px !important;
    padding-top: 10px !important;
}
.loginSection .loginBox .wrapper .form-control:focus{
    border: 1px solid #106cff !important;
}
.loginSection .loginBox .wrapper .form-group .icon{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    font-size: 18px !important;
    align-items: center;
}
.loginSection .loginBox .wrapper .form-group .icon svg{
    color: #343434;
}
.loginSection .loginBox .wrapper .or span.line{
    display: block;
    width: 35%;
    height: 1px;
    background: rgba(0,0,0,0.2);
}
.loginSection .loginBox .wrapper .or span.txt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 40px;
    height: 40px;
    border: 1px solid  rgba(0,0,0,0.2);
    border-radius: 50%;
}
.toggleShowPassword{
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}
.toggleShowPassword svg{
    font-size: 22px;
}
/* h5.login{
    margin: 0px;
    align-items: center;
    width: auto;
} */
::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}
::-webkit-scrollbar-thumb{
    background: #106cff !important;
}
::-webkit-scrollbar-track{
    background: transparent !important;
}
header{width: 100%;
    height: 70px;
    background: #fcfcff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
header .logo{text-decoration: none;}
header .logo img{ width: 30px;}
header span{
    margin-left:4px;
    color: rgb(0, 0, 0); 
    font-weight:800;
    font-size: 20px;
    padding-right: 5px;
}
header .rounded-circle:hover svg{
    color: #5372ff !important;
}
header .rounded-circle{
    margin: 12px !important;
    min-width: 30px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    background: #e3eef9 !important;
    color: black;
    
    }
header .rounded-circle svg{
    color: rgb(51, 51, 51);
    transition: all 0.2s ease-in-out;
}
.searchbox{
    margin-left: 8px;
    width: 240px;
    height: 30px;
    background: #e3eef9;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2px 2px;
    margin-right: 20px;
}
.searchbox input{
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 4px;
    font-size: 14px;
    color: #292929;
}
.searchbox svg{
    font-size: 15px;
    color: #3e3e3e;
}
.searchbox input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.7);
}
.myacc:hover{
    background-color: #5d7aff68;
}
.myacc{
    text-align:left !important;
    height: 45px;
    text-transform: capitalize !important;
}
.userImg{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 0.5px solid #5372ff;
    padding: 0.5px;
    margin: 0px;
    border-radius:100%;
}
.userImg .image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    cursor: pointer;
    position: relative;
}
.userImg .image img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.myacc .userInfo{
    padding: 10px;
}
.myacc .userInfo h4{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #0f0f0f;
}
.myacc .userInfo p{
    margin-top:0px;
    font-size: 12px;
    opacity: 0.7;
    color: black;
}
#account-menu li{
    font-size: 15px !important;
    padding: 13px 16px !important;
}
#account-menu li svg{
    font-size: 20px !important;
}
#notifications .MuiPaper-elevation{
    right: 240px !important;
    width: 260px !important;
    left: auto !important;
    top: 70px !important;
}
.dropdown_list .head h4{
    font-size: 15px;
    padding-left: 20px !important;
    font-weight:600;
}
.dropdown_list li.MuiButtonBase-root{
    background: #d2e8ff !important;
    color: #0f0f0f !important;
    border-radius: 5px;
    padding: 10px 15px !important;
}
.dropdown_list li.MuiButtonBase-root:hover{
    background: #c2d8f0 !important;
}
.dropdowninfo {
    padding-left: 15px;
    margin: 0;
}
.dropdowninfo h4{
    font-size: 14px;
    font-weight: 500;
    white-space: break-spaces;
    line-height: 13px;
    margin-bottom: 0px;
}
.dropdowninfo h4 b{
    font-weight:600;
    margin: 5px;
    margin-left: 0px;
}

.text-sky{
    font-size: 12px;
    color: #2c45b8;
    margin-left: 16px;
}
.dropdown_list .scrollbar{
    max-height: 300px;
    overflow-y: scroll;
}

.main .sidebarwrapper{
    width: 25%;
    flex: 0 20%;
    transition: all 0.3s ease-in-out;
}

.main .sidebarwrapper.toggle{
    width: 25%;
    flex: 0 0 0%;
}
.main .sidebarwrapper .sidebar::-webkit-scrollbar{
    width: 4px !important;
}
.main .sidebarwrapper.toggle .sidebar{
    left: -100%;
}
.main .sidebarwrapper .sidebar::-webkit-scrollbar-thumb{
    background: transparent !important ;
}
.main .sidebarwrapper:hover .sidebar::-webkit-scrollbar{
    background: #106cff !important;
}
.main .sidebarwrapper .sidebar{
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0px;
    background: #fff;
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
.main .sidebarwrapper .sidebar ul{
    padding:10px 15px ;
    margin-bottom: 0px;
    font-size: 30px;
}
.main .sidebarwrapper .sidebar ul li{
    list-style: none;
}
.main .sidebarwrapper .sidebar ul li button{
    color: rgb(59, 59, 59) !important;
    text-align: left !important;
    justify-content: left !important;
    border-radius: 10px !important;
    padding: 12px 10px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    font-family: "open sans", sans-serif !important;
    font-size: 15px !important;
}
.main .sidebarwrapper .sidebar ul li button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.main .sidebarwrapper .sidebar ul li button .icon svg{
    color: rgb(53, 53, 53);
    opacity: 0.5;
    font-size: 22px;
}

.main .sidebarwrapper .sidebar ul li button .arrow{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out !important;
}
.main .sidebarwrapper .sidebar ul li button:hover{
    background: #e6e6e6;
}
.main .sidebarwrapper .sidebar ul li button.active{
    background: #dfdfdf;
}
.main .sidebarwrapper .sidebar ul li button.active .icon svg{
    color: #106cff !important;
}
.main .sidebarwrapper .sidebar ul li button.active .arrow{
    transform: rotate(90deg);
}

.main .sidebarwrapper .sidebar ul .submenu{
    padding:0px 45px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.main .sidebarwrapper .sidebar ul .submenu::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 25px;
    background: rgba(0, 0, 0, 0.2);
}
.main .sidebarwrapper .sidebar ul .submenu li{
    width: 100%;
    list-style: none;
}
.main .sidebarwrapper .sidebar ul .submenu li a{
    color: #676565 !important;
    text-decoration: none;
    display: block;
    padding: 4px 0px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s;
}

.main .sidebarwrapper .sidebar ul .submenu li a:hover{
    color: #106cff !important;
}

.colapse{
    display: flex;
}
.colapsed{
    display: none;
}
.main .sidebarwrapper .sidebar ul .submenuWrapper{
    transition: all 1s ease-in-out;
}

.main .sidebarwrapper .sidebar ul .submenuWrapper .colapse{
    height: 0px;
}
.main .sidebarwrapper .sidebar ul .submenuWrapper .colapse .submenu{
    opacity: 0;
}

.main .sidebarwrapper .sidebar ul .submenuWrapper .colapsed{
    height: auto;
    padding: 10px 0px;
}
.main .sidebarwrapper .sidebar ul .submenuWrapper .colapsed .submenu{
    opacity: 1;
}
.logoutWrapper{padding: 0px 25px;}
.logoutWrapper .logoutbox{
    width: 100%;
    height: 100px;
    padding: 25px;
    background: #a5b5fa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoutWrapper .logoutbox button{
    font-size: 14px !important;
    font-weight: 600 !important;
}

.logoutWrapper .logoutbox button svg{
    margin-right: 10px;
}
.main .context{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}
.main .context.toggle{
    width: 100%;
    flex: 0 0 80%;
}
.right-content{
    padding: 90px 30px;
    /* position: fixed; */
}
.dashboardBoxWrapper{
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.dashboardBoxWrapper .dashboardBox{
    width: 48%;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left !important;
    justify-content: flex-start !important;
    position: relative;
    color: #fff;
    text-transform: capitalize !important;
    /* font-weight: 800 !important; */
}

.dashboardBoxWrapper .dashboardBox .col1 h4{
    font-size: 16px;
    font-weight: 100;
}
.dashboardBoxWrapper .dashboardBox .col1 span{
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}
.dashboardBoxWrapper .dashboardBox .icon{
    margin-left: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom  right, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}
.dashboardBoxWrapper .dashboardBox .icon svg{
    font-size: 35px;
    opacity: 0.3;
    color: #fff;
}
.dashboardBoxWrapper .dashboardBox .toggleIcon{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    margin-left: 170px;
}
.dashboardBoxWrapper .dashboardBox .chart{
    opacity: 0.050;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.dashboardBoxWrapper .dashboardBox .chart svg{
    font-size: 110px;
    color: #000;
}
.dashboardBoxWrapper .dashboardBox .bottomEle{
    position: relative;
    font-size: 20px
}
.dashboardBoxWrapperRow .box{
    width: 100%;
    height: 100%;
    /* background: #ccc; */
}
.dropdown_menu .MuiList-root svg{
    color: #000 !important;
    font-size: 17px !important;
    margin-right: 10px !important;
}
.graphBox{
    background-image: linear-gradient(to bottom right,rgb(116, 116, 255), rgb(0, 0, 154));
    border-radius: 10px;
    padding: 25px;
}
/* .toggleIcon{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
} */

.graphBox h4{
    font-size: 18px !important;
    font-weight: 600 !important;
}
.graphBox .toggleIcon svg{
    color: #fff !important;
    font-size: 20px !important;
    opacity: 1 !important;
    margin-left: 190px;
}
.graphBox p{
    font-size: 13px;
    color: #fff;
    opacity: 0.7;
}
.card{
    margin: 15px 0px;
    border-radius: 10px;
}
.card .hd{
    font-size: 18px;
    font-weight: bold;
    color: #403e57;
}
.cardFilters .col h4{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
h1 h2 h3 h4 h5 h6{
    color: #403e57;
}

.table .thead-dark th{
    background-color: #106cff !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
    font-size: 15px;
    color: #fff;
    border-radius: 2px;
}
.table tbody td{
    font-size: 13px !important;
    color: #403e57;
    font-weight: 500;
}
.table tbody .actions button{
    min-width: 30px !important;
    width: 30px !important;
    height: 30px !important;
    margin: 0px 3px !important;
    border-radius: 10px;
}
.table tbody .actions button svg{
    font-size: 30px !important;
}
.table tbody .actions button.secondary{
    background-color: rgba(255, 174, 241, 0.771);
}
.table tbody .actions button.success{
    background-color: rgba(174, 255, 201, 0.818);
}
.table tbody .actions button.error{
    background-color: rgba(255, 174, 174, 0.733);
}
table.v-align td{
    vertical-align: middle !important;
}
.table td span.old,.table td span.new{
    display: block;
    width: 100%;
}
table td .imgWrapper{
    width: 100%;
    align-items: center;
}
table td .imgWrapper img{
    width: 40% !important;
    flex: 0 0 40% !important;
}
table td .info{
    width: 60% !important;
    flex: 0 0 60% !important;
}
table .info h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
table td .info p{
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5e5d72;
    margin-bottom: 0px;
    }
table.v-align td .productBox{
    width: 270px;
}
/* table.v-align td .productBox .info{
    width: 100%;
} */
.loginSection{
    width: 100px;
    height: 100vh;
    padding: 35px 25px;
}
.loginWithGoogle{
    text-transform: capitalize !important;
    font-weight: bold !important;
}